.btn {
    padding: 2% 3%;
    font-size: 30px;
    font-weight: 600;
    color: rgb(6, 138, 246);
    background-color: transparent;
    border: 1px solid rgb(6, 138, 246);
    transition: .2s ease-in-out;
}

.btn:hover {
    color: #f7f7f7;
    background-color: rgb(6, 138, 246);
}

.btn:active {
    transform: scale(.8);
}